body{
    border: 2px solid white;
    height: 410px;
    width: 250px;
    padding: 6px ;
    text-align: center;
    border-radius: 20px;
    margin-left: 500px;
    margin-top: 50px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    background-color: rgb(255, 255, 255);
}

img{
height: 195px;
width: 220px;
border-radius: 10px;
 margin-top: 10px;   
}

h1{
    font-size: 20px;
    
}

p{
    color: rgb(133, 131, 129);
    font-size: 15px;
}


.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }